:root {
    --SKANSKA_BLUE: #143275;
    --SKANSKA_DIMWHITE: rgb(245,245,245);
    --SKANSKA_MIDDLEGREY: rgb(236,236,236);
    --SKANSKA_DARKGREY: rgb(214,214,214);
}

/* Box-sizing border-box for all elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Smooth font rendering */
  body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /* Remove list styles */
  ul, ol {
    list-style: none;
    padding: 0;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Basic form element styling */
  input, button, textarea, select {
    font: inherit;
  }
  

label, input {
    display: block;
}

label {
    padding-bottom: 10px;
}

input {
    margin-bottom: 20px;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-color: rgba(214, 214, 214, 1);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

html {
    font-size: 16px; /* Base size (optional, browsers default to 16px) */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem; /* 32px */
    color: var(--SKANSKA_BLUE);
}

p {
    font-size: 1rem; /* 16px */
}

.flexbox {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 1)
}
